body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgba(15,14,14,0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0,0,0,0.1);
    text-align: center;
    color: white;
}


.search-section{
    margin-bottom: 30px;
}

#location-input{
    width:150px;
    padding: 10px;
    margin-top:-2px;
    padding-right: 10px;
    background-origin: 5px;
    border: 1px solid #3d3e3f;
}

#search-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 12, 236);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#search-button:hover{
    background-color: rgb(111, 104, 241);
}

.autocomplete-items{
    position: absolute;
    border: 1px solid white;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div{
    padding: 10px;
    cursor: pointer;
    background-color: aliceblue;
    border-bottom: 1px solid white;
}

.autocomplete-items div:hover {
    background-color: white;
}

.output-section{
    margin-top: 20px;
}

#weather-output{
    font-size: 19px;
    line-height: 1.6;
}
@media (max-width:600px){
    .container{
        width:90%;
    }

    #location-input{
        width: 10%;
    }

    #search-button{
        width: 25%;
    }
}